aiohttp==3.9.3
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
appnope==0.1.4
appscript==1.2.5
argcomplete==1.10.3
arrow==1.3.0
ass==0.5.4
astor==0.8.1
asttokens==2.4.1
attrs==23.2.0
auth-token==0.0.3
azure-ai-formrecognizer==3.3.2
azure-common==1.1.28
azure-core==1.30.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.8.2
binaryornot==0.4.4
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
bokeh==3.3.4
bs4==0.0.2
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.16.0
cohere==4.54
compressed_rtf==1.0.6
confection==0.1.4
contourpy==1.2.0
cookiecutter==2.6.0
customtkinter==5.2.2
cycler==0.12.1
cymem==2.0.8
darkdetect==0.8.0
dataclasses-json==0.6.3
decorator==4.4.2
deepmerge==1.1.1
defusedxml==0.7.1
diffusers==0.26.3
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docopt==0.6.2
docx==0.2.4
docx2pdf==0.1.8
docx2txt==0.8
duckdb==0.10.1
ebcdic==1.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
environ==1.0
executing==2.0.1
extra-streamlit-components==0.1.70
extract-msg==0.28.7
faiss-cpu==1.7.4
Faker==19.13.0
fastapi==0.110.0
fastavro==1.9.4
fastjsonschema==2.19.1
favicon==0.7.0
filelock==3.13.1
fiona==1.9.6
fire==0.5.0
fonttools==4.48.1
fpdf==1.7.2
frozenlist==1.4.1
fsspec==2024.2.0
gensim @ file:///Users/runner/miniforge3/conda-bld/gensim_1707360407346/work
geopandas==0.14.3
gitdb==4.0.11
GitPython==3.1.41
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.16.1
google-api-python-client==2.120.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
h11==0.14.0
htbuilder==0.6.2
html2text==2024.2.26
httpcore==1.0.3
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.21.3
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
IMAPClient==2.1.0
importlib-metadata==6.11.0
install==1.3.5
ipython==8.12.3
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_pygments==0.3.0
kaleido==0.2.1
kiwisolver==1.4.5
langchain==0.1.10
langchain-community==0.0.28
langchain-core==0.1.31
langchain-experimental==0.0.50
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.13
lida==0.0.14
llmx==0.0.21a0
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.4
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
matplotlib-venn==0.11.10
mdurl==0.1.2
mistune==3.0.2
mizani==0.11.0
mlx==0.5.1
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
msrest==0.7.1
multidict==6.0.4
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
networkx==3.2.1
nltk==3.8.1
numpy==1.26.3
oauthlib==3.2.2
olefile==0.47
openai==1.14.1
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
orjson==3.9.15
packaging==23.2
palm==2.6.0
pandas==1.5.3
pandasai==2.0.19
pandocfilters==1.5.1
parso==0.8.3
patsy==0.5.6
pdf2docx==0.5.8
pdfminer.six==20191110
pexpect==4.9.0
phonenumbers==8.13.31
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.2.0
plotly==5.19.0
plotnine==0.13.1
preshed==3.0.9
presidio-analyzer==2.2.353
presidio-anonymizer==2.2.353
presidio-image-redactor==0.0.51
proglog==0.1.10
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.2
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.6.0
pydantic_core==2.16.1
pydeck==0.8.1b0
pydicom==2.4.4
pydub==0.25.1
pygit2==1.14.1
Pygments==2.17.2
PyJWT==2.8.0
pymdown-extensions==10.7
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
pyparsing==3.1.1
pypdf==4.0.1
PyPDF2==3.0.1
pyperclip==1.8.2
pypng==0.20220715.0
pyproj==3.6.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-multipart==0.0.9
python-pptx==0.6.23
python-slugify==8.0.4
pytube==15.0.0
pytz==2023.4
PyYAML==6.0.1
pyzmq==25.1.2
rarfile==4.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.3.1
rich==13.7.0
rpds-py==0.17.1
rpy2==3.5.15
rsa==4.9
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1706041548403/work/dist/scipy-1.12.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=bbc73be88648226238a38119edfcb8ad921f5bc7339e819c9d6019ae8836b856
seaborn==0.13.2
shapely==2.0.3
six==1.12.0
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_split_1694066705667/work/dist
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.25
srsly==2.4.8
st-annotated-text==4.0.1
stack-data==0.6.3
starlette==0.36.3
statsmodels==0.14.1
stqdm==0.0.5
streamlit==1.31.1
streamlit-authenticator==0.3.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-chat==0.1.1
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-tags==1.2.8
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
text-unidecode==1.3
textblob==0.17.1
textract==1.6.5
thinc==8.2.3
thop==0.1.1.post2209072238
threadpoolctl==3.3.0
tiktoken==0.6.0
tinycss2==1.2.1
tldextract==5.1.1
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
torch==2.2.1
torchvision==0.17.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.38.2
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
ultralytics==8.1.20
uritemplate==4.1.1
urllib3==2.2.0
uvicorn==0.28.0
validators==0.22.0
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
wordcloud==1.9.3
xlrd==1.2.0
XlsxWriter==3.1.9
xlwt==1.3.0
xyzservices==2023.10.1
yarg==0.1.9
yarl==1.9.4
youtube-transcript-api==0.6.2
zipp==3.17.0
