beautifulsoup4==4.8.2
docx==0.2.4
docx2pdf==0.1.8
docx2txt==0.8
extra-streamlit-components==0.1.70
google-api-python-client==2.120.0
google-generativeai==0.3.2
langchain-community==0.0.28
langchain-core==0.1.32
langchain-experimental==0.0.50
langchain-text-splitters==0.0.1
markdown-it-py==3.0.0
Markdown==3.5.2
markdownlit==0.0.7
numpy==1.26.4
opencv-python-headless==4.9.0.80
pandas==1.5.3
pdf2docx==0.5.8
PyPDF2==3.0.1
faiss-cpu==1.7.4
pytesseract==0.3.10
python_docx==1.1.0
python_pptx==0.6.23
rarfile==4.1
scikit_learn==1.4.1.post1
spacy-legacy==3.0.12
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
spacy-loggers==1.0.5
spacy==3.7.2
SpeechRecognition==3.8.1
st-annotated-text==4.0.1
streamlit-authenticator==0.3.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-chat==0.1.1
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-tags==1.2.8
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit==1.31.1
transformers==4.38.2
xlrd==1.2.0


